.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
docker-compose.dcproj
*.sln
*.md
hosts
test
readme
**/bin/
**/obj/
**/wwwroot/lib/*
global.json
**/appsettings.localhost.json
packages/
csproj-files/
test-results/
TestResults/